body{
  background-color: #030622;
  background-size: cover;

}
.get-btn{
  border:  2px solid #595b3e;
}
.get-btn:hover{
  border-color: #f9fe73;
  filter: drop-shadow(#f9fe73af 4px 2px 20px);  
transform: scale(1.06);
transition: all 0.2s ease-in-out;
}
.info-card{
  background:linear-gradient(325deg,#050a36 88%,#f9fe73 12%);
}
.e-btn:hover{
filter: drop-shadow(#f9fe73af 4px 2px 20px);  
transform: scale(1.1);
transition: all 0.3s ease-in-out;

}
input:hover,input:focus{
  border-color: #77dae7;
  transform: scale(1.08);
transition: all 0.3s ease-in-out;
outline: #77dae7;
}
