body{
  background-color: #030622;
  background-size: cover;

}
.get-btn{
  border:  2px solid #595b3e;
}
.get-btn:hover{
  border-color: #81824c;
}
.info-card{
  background:linear-gradient(325deg,#050a36 88%,#f9fe73 12%);
}